<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="flex flex-col items-center bg-black text-white pt-40">
    <h1 class="text-6xl font-bold ">
      Welcome to the Student Performance Indicator
    </h1>
    <h1 class="text-3xl py-2">
      Empowering educators and students with data-driven insights to enhance
      academic performance.
    </h1>
    <a href="/predictdata" class="mt-10" style="padding: 10px 20px; background-color: #007BFF; color: white; border: none; border-radius: 5px; cursor: pointer;">
        Check Score
      </a>
    
  </body>
</html>
